.clearfix{
	zoom: 1;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.ico_bg{
	background-image: url(../img/icons.png);
	background-repeat: no-repeat;
	overflow: hidden;
}